html,
body {
    color: #c3c3c3;
}

.badge {
    padding: 5px 10px;
    margin: 5px;
    background: #19181e;
    border-radius: 5px;
    font-size: 9px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #262938;
}

::-webkit-scrollbar-thumb {
    background-color: #07060b;
}
