@keyframes anim {
	from {color: #c3c3c3}
	to {color: #131313}
}

.identity {
    .top {
        display: flex;
        align-items: center;
        img {
            height: 80px;
        }
        h2 {
            margin: 0px;
            margin-left: 30px;
            font-size: 32px;
        }

        ~ div {
            margin-top: 10px;
            &:not(:last-child) {
                display: flex;
                align-items: center;
                > svg {
                    margin-right: 15px;
                }
                > button {
                    margin-left: -11px;
                    svg {
                        color: #c3c3c3;
			animation: anim 2s linear infinite alternate-reverse;
                    }
                }
            }
        }
    }

    .position {
        height: 300px;
        .leaflet-tile-pane {
            filter: grayscale(1);
        }
    }
}
